{% load static %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {%  block title %}
            {%  endblock title %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {% block extra_css %}{# Override this in templates to add extra stylesheets #}{% endblock extra_css %}
    </head>


    <body>

        <main>

        {% block contentcontainer %}

            <div class="container contentblock">
                <div class="row">
                    <div class="col-12">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>

        {% endblock contentcontainer %}

        </main>
        
        {# Global javascript #}
        <!-- Bootstrap4 -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{% static 'js' %}/scripts.js?v=1"></script>

        {% block extra_js %}{# Override this in templates to add extra javascript #}{% endblock extra_js %}</html>

    </body>
</html>